---
---

@import "monokai.css";

$sand: #faf4d3;
$marble:#dadfe1;
$lightmarble:#efeff0;
$blue: #284387;
$vermeil: #6b0e05;

body{
    background-color: $sand;
    font-family: 'Roboto Mono', monospace;
    margin-left: calc(50vw - 280px);
    margin-right: calc(50vw - 280px);
    line-height: 25px;
}

.anti-a{
    text-decoration: none;
    color: black;
}
.anti-h4{
    margin:0;
    font-weight: 500;
}
.anti-p{
    margin: 0;
}

/*@media (max-width : 1200px){
    body{
        margin-left: 30vw;
        margin-right: 30vw;
    }
}*/

@media (max-width : 700px){
    body{
        margin-left: 1em;
        margin-right: 1em;
    }
}

img{
    max-width: 100%;
}

.display-none{
    display: none;
}
.flex{
    display: flex;
}
.text-crossed-vermeil{
    text-decoration:underline;
    text-decoration-color: $vermeil;
}
.text-vermeil{
    color: $vermeil;
}
.list-filters span{
    cursor: pointer;
    font-size: small;
}
.w-full{
    width: 100%;
}
.align-right{
    text-align: right;
}
.justify{
    text-align: justify;
    //text-justify:  inter-word;
}
.underline{
    text-decoration: underline;
}
.bg-white{
    background-color: white;
}
.card{
    background-color: white;
    padding: 10px;
    padding-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.negative-vermeil{
    color: white;
    background-color: $vermeil;
}
.text-vermeil{
    color:$vermeil;
}
.text-right{
    text-align: right;
}
.text-grey{
    color:grey;
}
.center{
    text-align: center;
}
.bold {
    font-weight: bold;
}
.text-lg{
    font-size: xx-large;
}
.space-top{
    margin-top: 25px;
}
.Bspace-top{
    margin-top: 75px;
}
.space-bottom{
    margin-bottom: 20px;
}
.Mspace-bottom{
    margin-bottom: 50px;
}
.Bspace-bottom{
    margin-bottom: 100px;
}
.light{
    font-weight: lighter;
}
.text-blue{
    color:$blue;
}
.hover-negative-blue:hover{
    color:white;
    background-color:$blue;
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
    background-color: $vermeil;
    color: #ffffff;
    text-align: left;
}
table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: white;
}
table tbody tr:nth-of-type(odd) {
    background-color: $lightmarble;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid $vermeil;
}
table tbody tr.active-row {
    font-weight: bold;
    color: $vermeil;
}

hr{
  
    border: 0;
    height: 1px;
    width: 75%;
    position: relative;
    margin: 30px auto;
    background: $vermeil;
  }